html {
  margin: 0; }

body {
  font-size: 14px;
  font-family: "Playfair Display"; }

.content-area {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.title-area {
  width: 50%;
  height: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.title-bg img {
  max-width: 100%;
  padding-bottom: 2em; }

.twoacts {
  margin: 0 auto;
  color: #cecece;
  font-family: verdana;
  text-align: center;
  margin-top: .5em;
  font-size: 1.2em;
  letter-spacing: 3px; }

.divider {
  border-color: red transparent transparent transparent;
  padding-top: 2em;
  margin-top: 5%;
  width: 0;
  border-width: 2px;
  visibility: hidden;
  text-align: left;
  border-radius: 3px; }

.swoosh {
  background-image: url(/assets/swoosh.png);
  background-repeat: no-repeat;
  left: 15%;
  position: relative;
  height: 10px;
  display: none;
  width: 100%; }

.prev-next {
  display: none;
  position: relative;
  justify-content: center;
  top: -135px;
  font-size: 25px;
  color: beige;
  right: -47%;
  cursor: pointer; }

.next,
.prev {
  margin-right: .5em; }

.right-side-nav {
  background-image: url(/assets/menu-right.png);
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
  right: -19px;
  top: -7px;
  opacity: 0;
  z-index: 10;
  width: 18%;
  background-size: cover; }
  .right-side-nav :hover {
    background-image: url(/assets/menu-right-glow.png);
    cursor: pointer;
    opacity: 1; }
  .right-side-nav .first .hovertext {
    top: 15%;
    right: 120px; }
  .right-side-nav .second .hovertext {
    top: 17%;
    right: 100px; }
  .right-side-nav .third .hovertext {
    top: 27%;
    right: 133px;
    width: 300px; }
  .right-side-nav .fourth .hovertext {
    top: -5%;
    right: 125px;
    width: 177px; }
  .right-side-nav .fifth .hovertext {
    top: -7%;
    right: 165px;
    width: 178px; }
  .right-side-nav .sixth .hovertext {
    top: 14%;
    right: 154px;
    width: 190px; }
  .right-side-nav .seventh .hovertext {
    top: 17%;
    right: 100px;
    width: 157px; }
  .right-side-nav .hovertext {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
    position: relative;
    top: 27px;
    right: 125px;
    font-family: snell roundhand;
    text-transform: lowercase;
    letter-spacing: 2px;
    opacity: 0;
    cursor: pointer; }

.right-nav {
  width: 4%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  display: flex;
  opacity: 0;
  z-index: 10; }
  .right-nav .first img {
    top: 5%; }
  .right-nav .first .hovertext {
    top: 7%;
    right: 145px; }
  .right-nav .second img {
    top: 15%; }
  .right-nav .second .hovertext {
    top: 17%;
    right: 230px; }
  .right-nav .third img {
    top: 25%; }
  .right-nav .third .hovertext {
    top: 27%;
    right: 340px;
    width: 300px; }
  .right-nav .fourth img {
    top: 35%; }
  .right-nav .fourth .hovertext {
    top: 37%;
    right: 686px;
    width: 160px; }
  .right-nav .fifth img {
    top: 45%; }
  .right-nav .fifth .hovertext {
    top: 47%;
    right: 845px;
    width: 157px; }
  .right-nav .sixth img {
    top: 60%; }
  .right-nav .sixth .hovertext {
    top: 62%;
    right: 999px;
    width: 157px; }
  .right-nav .seventh img {
    top: 75%; }
  .right-nav .seventh .hovertext {
    top: 77%;
    right: 1105px;
    width: 157px; }
  .right-nav .hovertext {
    color: white;
    font-size: 1.5em;
    float: left;
    position: relative;
    top: 27px;
    right: 125px;
    font-family: snell roundhand;
    text-transform: lowercase;
    letter-spacing: 2px;
    opacity: 0;
    cursor: pointer; }

.whiteborder {
  border-right: 1px solid white;
  height: 100%;
  margin-right: 1em; }
  .whiteborder:last-child {
    margin-right: 3em; }

.sitar-area {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: fixed; }

/*.sitar-knob {
	 img {
	 	max-width: 200%;
	    display: inline-block;
	    position: absolute;
	    height: auto;
	    right: 100%;
	    top: 10%;
	    margin-top: 10%;
	    cursor: pointer;
	 }
}*/
.sitar-knob {
  max-width: 100%;
  display: block;
  position: relative;
  height: 67px;
  margin-top: 14%;
  cursor: pointer; }

.play-title {
  float: right;
  margin-right: 1.5em;
  margin-top: 2em;
  color: #762704;
  font-style: italic;
  font-size: 4em;
  display: none; }

.play-subtitle {
  font-size: 2em;
  font-style: italic;
  float: right;
  margin-right: 3.5em;
  color: #cecece;
  display: none;
  margin-top: 1em;
  clear: both; }

.enter-site {
  float: right;
  font-size: 24px;
  margin-right: 1em;
  border-radius: 36px;
  border: 1px solid #762704;
  font-family: cursive;
  color: #762704;
  padding: .2em 2em;
  text-decoration: none;
  clear: both;
  display: block;
  margin-top: 2em;
  margin-right: 3em;
  font-weight: bold;
  background-color: #eaeaea;
  opacity: .4;
  display: none;
  cursor: pointer; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: -2;
  opacity: 0; }

.above-overlay {
  z-index: 2; }

.quote {
  color: #fff;
  font-size: 1.5em;
  width: 50%;
  font-family: cursive;
  padding: 2.5em 1em;
  font-style: italic;
  opacity: 0; }
  .quote em {
    float: right;
    margin-right: 3em;
    margin-top: 0; }

#ajji-natural {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/ajji-natural.JPG) no-repeat center -95px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }

#ajji-golden {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/ajji-golden.JPG) no-repeat center -95px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }

#ajji-light {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/ajji-light.JPG) no-repeat center -95px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }

#walter-natural {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/walter-natural.JPG) no-repeat center -140px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }
  #walter-natural .quote {
    padding: 3em 19em !important;
    width: 36%;
    text-align: center; }

#walter-golden {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/walter-golden.JPG) no-repeat center -140px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }

#walter-light {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/walter-light.JPG) no-repeat center -140px;
  background-size: cover;
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%; }

#archana-light {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/archana-light.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }

#archana-golden {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/archana-golden.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }

#archana-natural {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/archana-natural.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }
  #archana-natural .quote {
    float: right;
    margin-right: 7em;
    color: #16130d;
    margin-top: 3em;
    width: 50%; }

#vikram-light {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/vikram-light.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }
  #vikram-light .quote {
    float: right;
    margin-right: 7em;
    color: #16130d;
    margin-top: 3em;
    width: 50%; }

#vikram-golden {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/vikram-golden.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }
  #vikram-golden .quote {
    float: right;
    margin-right: 7em;
    color: #16130d;
    margin-top: 3em;
    width: 50%; }

#vikram-natural {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/images/final/vikram-natural.JPG) no-repeat center -20px;
  background-size: cover;
  z-index: 4;
  display: none;
  position: absolute; }
  #vikram-natural .quote {
    float: right;
    margin-right: 7em;
    color: whitesmoke;
    margin-top: 3em;
    width: 40%; }

#prema1 {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/prema1.JPG) no-repeat center -1036px;
  background-size: 300%;
  z-index: 3;
  display: none;
  position: absolute; }
  #prema1 .quote {
    float: left;
    margin-right: 5em;
    color: #eee;
    width: 46%; }

#prema2 {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/prema2.JPG) no-repeat -75px -529px;
  background-size: 130%;
  z-index: 3;
  display: none;
  position: absolute; }
  #prema2 .quote {
    float: left;
    margin-right: 3em;
    margin-top: 4em;
    color: #eee;
    width: 45%; }

#vikram {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/vikram.JPG) no-repeat center center;
  background-size: cover;
  z-index: 3;
  display: none;
  position: absolute; }
  #vikram .quote {
    float: left;
    margin-right: 3em;
    margin-top: 4em;
    color: #eee;
    width: 45%; }

#walter {
  top: 0;
  left: 0;
  bottom: 0;
  background: url(/images/final/walter.JPG) no-repeat center center;
  background-size: cover;
  z-index: 3;
  display: none;
  position: absolute; }
  #walter .quote {
    float: right;
    margin-right: -3em;
    margin-top: -3em;
    color: white;
    width: 50%; }

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }
