@import 'normalize' ;

html {
    margin: 0; 

}

body {
	font-size: 14px;
	font-family: "Playfair Display";
    background-color: black;
}

#musicplayer {
    display: inline-block;
    position: fixed;
    bottom: 6px;
    z-index: 12;
}


.content-area {
	width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('/assets/bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5em 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.title-area {
    height: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 3em;
}

.title-bg {
    display: block;
    margin: 0 auto;

	img {
		padding-bottom: .5em;
        text-align: center;
        margin:0 auto;
        display: block;
        max-width: 100%;
	}
}


.twoacts {
	margin: 0 auto;
    color: #cecece;
    font-family: pt serif;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 3px;

    @media (max-width: 768px)  {
        font-size: 1em;
    }

}

.divider {
	border-color: red transparent transparent transparent;
    padding-top: 2em;
    margin-top: 5%;
    width: 0;
    border-width: 2px;
    visibility: hidden;
    text-align: left;
    border-radius: 3px;
}

.motif {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-bottom: 0 !important;

    @media (max-width: 768px)  {
        max-width: 50% !important;
    }


}

.swoosh-container {
    width: 37%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100% !important;
    }

    @media (min-width: 1824px) {
        width: 20% !important;
    }
}

.swoosh {
	background-image: url(/assets/swoosh-2.png);
	background-repeat: no-repeat;
    //background-position: center 0;
    height: 10px;
    display: block;
    padding: .5em 0;
    width: 1px;;
}

.prev-next {
	display: block;
    font-size: 25px;
    color: beige;
    cursor: pointer;
    opacity: 0;
    z-index: 12;
    position: relative;
    float: right;
    right: 10%;
}

.next,
.prev {
	margin-right: 1em;
}


.right-side-nav {
	background-image: url(/assets/menu-right.png);
	background-repeat: no-repeat;
    height: 100%;
    position: fixed;
    right: -19px;
    top: -7px;
    opacity: 0;
    z-index: 10;
    width: 18%;
    background-size: cover;
   

	:hover {
		//background-image: url(/assets/menu-right-glow.png);
		cursor: pointer;
		opacity: 1;
	}

    .first {

    	.hovertext {
    		top: 15%;
    		right: 120px;
    	}
	 }

	 //storyline
	 .second {

	 	.hovertext {
	 		top: 17%;
    		right: 100px;
	 	}
	 }

	 //cast & crew
	 .third {

	 	.hovertext {
	 		top: 10%;
		    right: 133px;
		    width: 300px;
	 	}
	 }

	 //Press & Audience 
	 .fourth {

	 	.hovertext {
	 		top: -35%;
		    right: 125px;
		    width: 177px;
	 	}
	 }

	 //Past Productions
	 .fifth {

	 	.hovertext {
	 		top: -54%;
    		right: 60px;
    		width: 178px;
	 	}
	 }

	 //Upcoming Shows
	 .sixth {

	 	.hovertext {
	 		top: -50%;
		    right: 160px;
		    width: 190px;
	 	}
	 }

	 //Buy Tickets and Donate 
	 .seventh {

	 	.hovertext {
	 		top: -50%;
	 		right: 80px;
    		width: 157px;
	 	}
	 }

	 .hovertext {
	 	color: beige;
	    font-size: 1.5em;
	    font-weight: bold;
	    float: left;
	    position: relative;
	    top: 27px;
	    right: 125px;
	    font-family: snell roundhand;
	    text-transform: lowercase;
	    letter-spacing: 2px;
	    opacity: 0;
	    cursor: pointer;
	 }
}

.right-nav {
	width: 4%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: black;
    display: flex;
    opacity: 0;
    z-index: 10;

    .first {

    	img {
    		top: 5%;
    	}

    	.hovertext {
    		top: 7%;
    		right: 145px;
    	}
	 }

	 //storyline
	 .second {

	 	img {
	 		top: 15%;
	 	}

	 	.hovertext {
	 		top: 17%;
    		right: 230px;
	 	}
	 }

	 //cast & crew
	 .third {

	 	img {
		 	top: 25%;
	 	}

	 	.hovertext {
	 		top: 27%;
		    right: 340px;
		    width: 300px;
	 	}
	 }

	 //Press & Audience 
	 .fourth {

	 	img {
	 		top: 35%;
	 	}

	 	.hovertext {
	 		top: 37%;
	 		right: 686px;
   		 	width: 160px;
	 	}
	 }

	 //Past Productions
	 .fifth {

	 	img {
	 	 	top: 45%;		
	 	}

	 	.hovertext {
	 		top: 40%;
	 		right: 80px;
    		width: 157px;
	 	}
	 }

	 //Upcoming Shows
	 .sixth {

	 	img {
		 	top: 60%; 		
	 	}

	 	.hovertext {
	 		top: 62%;
	 		right: 999px;
    		width: 157px;
	 	}
	 }

	 //Buy Tickets and Donate 
	 .seventh {

	 	img {
	 	 	top: 75%;		
	 	}

	 	.hovertext {
	 		top: 77%;
	 		right: 1105px;
    		width: 157px;
	 	}
	 }

	 .hovertext {
	 	color: white;
	    font-size: 1.5em;
	    float: left;
	    position: relative;
	    top: 27px;
	    right: 125px;
	    font-family: snell roundhand;
	    text-transform: lowercase;
	    letter-spacing: 2px;
	    opacity: 0;
	    cursor: pointer;
	 }
}

.contact-info {
    background: rgba(255,255,255,0.2);
    display: flex;
    z-index: 12;
    position: fixed;
    bottom: 0;
    right: 15%;
    font-family: verdana;
    border-radius: 5px;
    padding: .25em .5em;

    @media (max-width: 768px)  {
        top: 0;
        bottom: auto;
        right: 0%;
        border-radius: 0;
        background: none;
        z-index: 13;
    }


    .desktop-only {
        @media (max-width: 768px)  {
            display: none;
        }

    }

    ul {
        list-style-type: none;
        display: flex;
        color: white;
        margin: 1em auto;
        padding: 0;

        li {
            margin: 0 .5em;

            &:hover {
                cursor: pointer;
                color: #8B0000;
            }

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    color: #8B0000;
                }
            }

            .fa {
                cursor: pointer;

                &:hover {
                    color: #8B0000;
                }
            }
        }
    }
}

.whiteborder{
	border-right: 1px solid white;
    height: 100%;
    margin-right: 1em;

    &:last-child {
    	margin-right: 3em;
    }
}

.sitar-area {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
}


.sitar-knob {
	max-width: 100%;
    display: block;
    position: relative;
    height: 67px;
    margin-top: 14%;
    cursor: pointer;
}

.play-title {
	float: right;
	margin-right: 1.5em;
	margin-top: 2em;
    color: #762704;
    font-style: italic;
    font-size: 4em;
    display: none;
}

.play-subtitle {
	font-size: 2em;
	font-style: italic;
	float: right;
    margin-right: 3.5em;
    color: #cecece;
    display: none;
    margin-top: 1em;
    clear: both;
}

.enter-site {
	float: right;
    font-size: 24px;
    margin-right: 1em;
    border-radius: 36px;
    border: 1px solid #762704;
    font-family: cursive;
    color: #762704;
    padding: .2em 2em;
    text-decoration: none;
    clear: both;
    display: block;
    margin-top: 2em;
    margin-right: 3em;
    font-weight: bold;
    background-color: #eaeaea;
    opacity: .4;
    display: none;
    cursor: pointer;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: -2;
	opacity: 0;
}

.above-overlay {
	z-index: 2;
}

.quote {
	color: #fff;
    font-size: 1.5em;
    width: 50%;
    font-family: cursive;
    padding: 2.5em 1em;
    font-style: italic;
    opacity: 0;
    line-height: 2em;

    em {
    	 float: right;
    	 margin-right: 3em;
    	 margin-top: 0;
    }
}

#character-slideshow {
	top: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	right: 0;
	position: absolute;
	width: 100%;
	overflow:hidden  
}

#ajji-natural {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-natural.jpg) no-repeat center -95px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#ajji-golden {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-golden.jpg) no-repeat center -95px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#ajji-light {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-light.jpg) no-repeat center -95px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#walter-natural {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-natural.jpg) no-repeat center -140px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;

    .quote {
    	padding: 2em 19em!important;
	    width: 36%;
	    text-align: center;
    }
}

#walter-golden {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-golden.jpg) no-repeat center -140px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#walter-light {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-light.jpg) no-repeat center -140px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}


#archana-light {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-light.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;
}

#archana-golden {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-golden.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;
}


#archana-natural {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-natural.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: #16130d;
	    margin-top: 3em;
	    width: 50%;
     }
}

#vikram-light {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-light.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: #16130d;
	    margin-top: 3em;
	    width: 50%;
     }
}

#vikram-golden {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-golden.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: #16130d;
	    margin-top: 3em;
	    width: 50%;
     }
}
#vikram-natural {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-natural.jpg) no-repeat center -20px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: whitesmoke;
	    margin-top: 3em;
	    width: 40%;
     }
}
#prema1 {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/prema1.jpg) no-repeat center -1036px;
	background-size: 300%;
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
	    margin-right: 5em;
	    color: #eee;
	    width: 46%;
     }
}

#prema2 {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/prema2.jpg) no-repeat -75px -529px;
	background-size: 130%;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
    	margin-right: 3em;
    	margin-top: 4em;
   	 	color: #eee;
    	width: 45%;
     }
}

#vikram {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/vikram.jpg) no-repeat center center;
	background-size: cover;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
    	margin-right: 3em;
    	margin-top: 4em;
   	 	color: #eee;
    	width: 45%;
     }
}

#walter {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/walter.jpg) no-repeat center center;
	background-size: cover;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: right;
    	margin-right: -3em;
    	margin-top: -3em;
    	color: white;
    	width: 50%;
     }
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#cssmenu{
	display:none
}

#storyline ,#cast-crew, #upcoming-shows, #buy-tickets,#past-productions, #press{
	opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
 }

 #storyline {
    background-image: url(/images/final/walter-baton.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .sub-area {

        p {
            color: white;
        }
    }
 }

 .sub-area {
    background: rgba(255, 255, 255, .2);
    padding:1em 2em;
    width: 80%;
    margin: 0 auto;
    display: block;
    left: -5%;
    position: relative;

    h3 {
        color: #990;
        padding: 0 !important;
        margin: 0;
        font-family: cursive;
        text-transform: camelcase;
        font-family: snell roundhand;
    }

    p {
        padding: 0 !important;
        font-family: verdana;
    }
 }

#cast-crew{	
    background-color: #1D232F;
    width: 100%;
    display: none;
    height: auto;

    h3 {
         margin: 0;
         padding-top: 3% !important;
    }

    .cast-list {
        display: block;
        width: 70%;
        margin: 0 auto;


        .members {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            clear: both;

            .member {
                margin: 1em .5em;
                display: block;
                cursor: pointer;

                @media (max-width: 768px)  {
                    margin: 0 0 3em 0;
                }

                 img {
                    border: 1px solid beige;
                 }

                 span {
                        margin: 0 auto;
                        color: white;
                        display: block;
                        text-align: center;
                        font-family: verdana;
                        letter-spacing: .1em;
                        background-color: #8B0000;
                        color: beige;
                        padding: .2em .5em;
                        font-size: .875em;
                 }
            }
        }

        .music-list {
            padding-bottom: 3em;
        }

        h3 {
            color: white !important;
            padding: 0 0 .5em !important; 
            display: block;
            margin: 0 auto;
        }

        hr {
            border-color: #8B0000;
            margin: 2em 0;
        }
       
    }

    .crew-list {
        width: 70%;
        display: block;
        margin: 0 auto;

        @media (max-width: 550px) {
            width: 100%;
        }


        .member {
            margin: 2em 3em; 
            display: flex;
            cursor: pointer;

             @media (max-width: 1160px)  {
                display: block;
            }

            .photo-caption {

                 span {
                            margin: 0 auto;
                            color: white;
                            display: block;
                            text-align: center;
                            font-family: verdana;
                            letter-spacing: .1em;
                            background-color: #8B0000;
                            color: beige;
                            font-size: .875em;
                            line-height: 1.5em;
                            display:flex;

                            @media (max-width: 1160px) {
                                margin: 0 auto 1em;
                            }

                            @media (max-width: 768px) {
                                width: 100%;
                            }
                     }

                .madison {
                    width: 96%;
                    padding: .5em;
                    line-height: 1.5em;

                    @media (max-width: 1160px) {
                        margin: 0 auto 1em;
                    }
                    
                }

                img {
                    border: 1px solid beige;
                    width: 100%
                }

                @media (max-width: 1160px)  {
                    text-align: center;
                    display: inline-block;
                }

            }

            .write-up {
                  margin: 0 2.5em;
                  width: 100%;
                  font-family: verdana;
                  line-height: 2em;
                  text-align: justify;
                  color: #a0a09a;
                  font-weight: lighter;
                  min-width: 324px;

                  @media (max-width: 1160px)  { 
                    margin: 0;
                  }

                  @media (max-width: 768px) {
                    margin: 2em 0 4em;
                  }

                  a {
                    color: #a0a09a;
                    cursor: pointer;
                  }
            }
        }
    }

 }

#upcoming-shows{	
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 280%;
    background-image: url(/assets/curtain.png);
    background-size: cover;
    background-repeat: repeat-y;

    p {
        font-size: 125% !important;
        text-align: center !important;
        justify-content: center !important;
        font-family: verdana;
        width: 45%;
        display: block;
        margin-left: 28%;
        background: rgba(255,255,255, 0.2);
        color: white;
        font-style: italic;

        @media (max-width: 768px)  {

            font-size: 66% !important;
            width: 87% !important;
            margin-left: 4% !important;
        }

    }

    h3 {
        padding-top: 0 !important;
    }

    h4 {
        font-family: verdana;
        font-size: 120%;
        color: #21345a;
        background: rgba(223, 242, 250, 0.56);
        margin: 0;
        padding: .25em;
        text-align: center;

        @media (max-width: 768px)  {
            font-size: 80%;
        }

    }

    .poster-venues {
        display: block;
    }

    #nj {
            width: 100%;
            margin: 0 1% 2em;
            display: inline-block;
            text-align: center;

        .poster {
            width: 40%;
        }

        .stage {
            width: 30%;
        }
    }

    #dc {
            width: 100%;
            margin: 0 1% 2em;
            display: inline-block;
            text-align: center;
        
        .poster {
            width: 20%;
        }

        .stage {
            width: 30%;
        }
    }

    #nyc {
            width: 100%;
            margin: 0 1% 2em;
            display: inline-block;
            text-align: center;
        
        .stage {
            width: 50%;
        }
    }
 }
#press{	
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/assets/title-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    margin: 5em 0;

    h3 {
            font-size: 3.5em;
            display: block;
            text-align: center;
            padding-top: 1% !important;
            text-transform: camelcase;
            color: #d6a223 !important; 
            font-family: snell roundhand;

            @media (max-width: 768px) { 
                margin: .3em;
            }

    }

    &-area {
        background: rgba(22, 19, 13, 0.65);
        background-repeat: repeat-y;
        height: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;

    }

    &-content {
        color : #d6a223;

        ul {
            list-style: none;
            display: inline-block;
            margin: 0 28%;
            font-size: 1.2em;
            font-family: verdana;

            @media (max-width: 768px) { 
                font-size: 1em;
            }

            @media (max-width: 768px) {
                margin: 0;   
            }


            li {
                float: left;
                clear: both;
                margin-bottom: 2em;

                .year {
                    margin-bottom: 2em;
                }

                div {
                    
                    display: flex;

                    @media (max-width: 768px) {
                        display: block;
                    }


                    strong {
                        margin-right: 2em;
                    }

                    img {
                        vertical-align: middle;
                        margin:0 .5em;
                        width: 15%;
                        height: 10%;
                    }
                }
            }
        }

        a {
            color: #d6a223;
            margin-left: 1em;
            cursor: pointer;
            line-height: 1.7em;

            @media (max-width: 768px) { 
                margin-left: 0;
                display: block;
            }

        }

    }

    &-releases {
        margin: 0 auto;
        text-align: center;
        font-family: verdana;

        h4{
            text-align: center;
            color: #d6a223;
            margin: 2em 0;
        }
    }
 }

.nobr {
    margin-bottom: 0 !important; 
    padding-bottom: 0 !important;
}

#past-productions {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/assets/past-performances.png);
    background-size: 100% 120%;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-size: 100% 55%;
        background-repeat: no-repeat;
        background-position: 25% 40%;
    }

     ul {
        list-style-type: none;
        font-family: verdana;
        text-align: center;
        font-size: 95%;
        width: 70%;
        margin-left: 10%;

        @media (max-width: 768px) {
            font-size: 75%;
        }

        li {
            color: white;
            margin-bottom: 1em;
            display: inline-block;

            strong {
                display: inline-block;
                font-size: 150%;
                padding-top: .5em;    
                opacity: .6;  

                @media (max-width: 768px) {
                    padding-top: 1.2em;
                }
          
            }

            a {
                color: white;
                cursor: pointer;
                display: inline-block;

                 img {
                    margin: .5em 0;
                 }
            }

            img {
                width: 15%;
                display: inline-block;
            }
        }

     }

     .credit {
        bottom: 0;
        font-size: 8px;
        float: left;
        color: white;
        position: absolute;
        bottom: 10px;
        left: 14px;
        text-transform: camelcase;
     }
 }

 #past-productions h3 {
     padding-top: 0 !important;
     margin-bottom: 0;
 }
 
#storyline h3, #cast-crew h3, #upcoming-shows h3, #buy-tickets h3, #past-productions h3, #press h3{
	font-size: 3.5em;
    display: block;
    text-align: center;
    padding-top: 10%;
	text-transform:camelcase;
    color: #8B0000;
    font-family: snell roundhand;
}
	
#storyline p, #cast-crew p, #upcoming-shows p, #buy-tickets p, #past-productions p, #press p{
	padding:10px;
	font-size:1em;
    text-align: left;
    justify-content: center;
    line-height: 2em;
}
 
@media (max-width: 768px)  
  {
	.swoosh{
		left:auto;
		background-size: 100%}
  
	.right-side-nav {display:none}
  
	  #ajji-natural {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-natural.jpg) no-repeat center 0px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#ajji-golden {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-golden.jpg) no-repeat center 0px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#ajji-light {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/ajji-light.jpg) no-repeat center 0px;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#walter-natural {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-natural.jpg) no-repeat 10% 0;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;

    .quote {
    	padding:2em !important;
	    width: auto;
	    text-align: center;
    }
}

#walter-golden {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-golden.jpg) no-repeat 10% 0;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}

#walter-light {
	top: 0;
    left: 0;
    bottom: 0;
    background: url(/images/final/walter-light.jpg) no-repeat 10% 0;
    background-size: cover;
    z-index: 5;
    display: none;
    position: absolute;
    width: 100%;
}


#archana-light {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-light.jpg) no-repeat 25% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;
}

#archana-golden {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-golden.jpg) no-repeat 25% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;
}


#archana-natural {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/archana-natural.jpg) no-repeat 25% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 0em;
	    color: #16130d;	   
		margin-top: 0px;
		width: 45%;
		padding-top: 20px;
		padding-right: 10px;
     }
}

#vikram-light {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-light.jpg) no-repeat 27% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: #16130d;
	    margin-top: 3em;
	    width: 50%;
     }
}

#vikram-golden {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-golden.jpg) no-repeat 27% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 7em;
	    color: #16130d;
	    margin-top: 3em;
	    width: 50%;
     }
}
#vikram-natural {
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/images/final/vikram-natural.jpg) no-repeat 27% 0px;
    background-size: cover;
    z-index: 4;
    display: none;
    position: absolute;

     .quote {
     	float: right;
     	margin-right: 0px;
	    color: whitesmoke;
	    margin-top: 6em;
	    width: 26%;
		
		em {
    	 float: right;
    	 margin-right: 0em;
    	 margin-top: 0;
    }
     }
}
#prema1 {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/prema1.jpg) no-repeat center -1036px;
	background-size: 300%;
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
	    margin-right: 5em;
	    color: #eee;
	    width: 46%;
     }
}

#prema2 {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/prema2.jpg) no-repeat -75px -529px;
	background-size: 130%;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
    	margin-right: 3em;
    	margin-top: 4em;
   	 	color: #eee;
    	width: 45%;
     }
}

#vikram {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/vikram.jpg) no-repeat center center;
	background-size: cover;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: left;
    	margin-right: 3em;
    	margin-top: 4em;
   	 	color: #eee;
    	width: 45%;
     }
}

#walter {
	top: 0;
    left: 0;
    bottom: 0;
	background: url(/images/final/walter.jpg) no-repeat center center;
	background-size: cover;  
    z-index: 3;
    display: none;
    position: absolute;

     .quote {
     	float: right;
    	margin-right: -3em;
    	margin-top: -3em;
    	color: white;
    	width: 50%;
     }
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu #menu-button {
    display: none;
}

 #cssmenu.small-screen #menu-button {
    display: block;
    /*padding: 16px 20px;*/
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #3db2e1;
}

#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;
}

#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 17px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px;
}

#cssmenu > ul {
    background: transparent;
}

#cssmenu.small-screen > ul, #cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}

#cssmenu > ul > li {
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

#cssmenu.small-screen > ul > li, #cssmenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu > ul > li > a {
    padding: 16px 20px;
    font-size: 14px;
    color: brown;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(255,255,255, 1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*#cssmenu > ul > li.active > a {
    color: #dff2fa;
}*/

#cssmenu{
	z-index:11
}

#cssmenu > ul.hidden{
	display:none
}
#menu-div{
	width: 60px;
    display: block;
    position: relative;
    background: transparent;
    height: 46px;
}

}
  
 

